<?if $(sys.BUILDARCH)="x86"?>
    <?define Win64 = "no" ?>
    <?define PlatformProgramFilesFolder = "ProgramFilesFolder" ?>
<?elseif $(sys.BUILDARCH)="x64"?>
    <?define Win64 = "yes" ?>
    <?define PlatformProgramFilesFolder = "ProgramFiles64Folder" ?>
<?elseif $(sys.BUILDARCH)="arm64"?>
    <?define Win64 = "yes" ?>
    <?define PlatformProgramFilesFolder = "ProgramFiles64Folder" ?>
<?else?>
    <?error Unsupported value of sys.BUILDARCH=$(sys.BUILDARCH)?>
<?endif?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

    <Product
            Id="*"
            Name="{{product_name}}"
            UpgradeCode="{{upgrade_code}}"
            Language="!(loc.TauriLanguage)"
            Manufacturer="{{manufacturer}}"
            Version="{{version}}">

        <Package Id="*"
                 Keywords="Installer"
                 InstallerVersion="450"
                 Languages="0"
                 Compressed="yes"
                 InstallScope="perMachine"
                 SummaryCodepage="!(loc.TauriCodepage)"
                 Description="{{product_name}} Installer"/>

        <!-- https://docs.microsoft.com/en-us/windows/win32/msi/reinstallmode -->
        <!-- reinstall all files; rewrite all registry entries; reinstall all shortcuts -->
        <Property Id="REINSTALLMODE" Value="amus" />

        <!-- Auto launch app after installation, useful for passive mode which usually used in updates -->
        <Property Id="AUTOLAUNCHAPP" Secure="yes" />
        <!-- Property to forward cli args to the launched app to not lose those of the pre-update instance -->
        <Property Id="LAUNCHAPPARGS" Secure="yes" />

            <MajorUpgrade Schedule="afterInstallInitialize" AllowDowngrades="yes" />

        <InstallExecuteSequence>
            <RemoveShortcuts>Installed AND NOT UPGRADINGPRODUCTCODE</RemoveShortcuts>
        </InstallExecuteSequence>

        <Media Id="1" Cabinet="app.cab" EmbedCab="yes" />

        <Icon Id="ProductIcon" SourceFile="{{icon_path}}"/>
        <Property Id="ARPPRODUCTICON" Value="ProductIcon" />
        <Property Id="ARPNOREPAIR" Value="yes" Secure="yes" />      <!-- Remove repair -->
        <SetProperty Id="ARPNOMODIFY" Value="1" After="InstallValidate" Sequence="execute"/>

        <Property Id="INSTALLDIR">
            <RegistrySearch Id="PrevInstallDirWithName" Root="HKCU" Key="Software\\{{manufacturer}}\\{{product_name}}" Name="InstallDir" Type="raw" />
            <RegistrySearch Id="PrevInstallDirNoName" Root="HKCU" Key="Software\\{{manufacturer}}\\{{product_name}}" Type="raw" />
        </Property>

        <!-- launch app checkbox -->
        <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="!(loc.LaunchApp)" />
        <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOX" Value="1"/>
        <CustomAction Id="LaunchApplication" Impersonate="yes" FileKey="Path" ExeCommand="[LAUNCHAPPARGS]" Return="asyncNoWait" />

        <UI>
            <!-- launch app checkbox -->
            <Publish Dialog="ExitDialog" Control="Finish" Event="DoAction" Value="LaunchApplication">WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 and NOT Installed</Publish>

            <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />

            <!-- Skip license dialog -->
            <Publish Dialog="WelcomeDlg"
                     Control="Next"
                     Event="NewDialog"
                     Value="InstallDirDlg"
                     Order="2">1</Publish>
            <Publish Dialog="InstallDirDlg"
                     Control="Back"
                     Event="NewDialog"
                     Value="WelcomeDlg"
                     Order="2">1</Publish>
        </UI>

        <UIRef Id="WixUI_InstallDir" />

        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="DesktopFolder" Name="Desktop">
                <Component Id="ApplicationShortcutDesktop" Guid="*">
                    <Shortcut Id="ApplicationDesktopShortcut" Name="{{product_name}}" Description="Runs {{product_name}}" Target="[!Path]" WorkingDirectory="INSTALLDIR" />
                    <RemoveFolder Id="DesktopFolder" On="uninstall" />
                    <RegistryValue Root="HKCU" Key="Software\\{{manufacturer}}\\{{product_name}}" Name="Desktop Shortcut" Type="integer" Value="1" KeyPath="yes" />
                </Component>
            </Directory>
            <Directory Id="$(var.PlatformProgramFilesFolder)" Name="PFiles">
                <Directory Id="INSTALLDIR" Name="{{product_name}}"/>
            </Directory>
            <Directory Id="ProgramMenuFolder">
                <Directory Id="ApplicationProgramsFolder" Name="{{product_name}}"/>
            </Directory>
        </Directory>

        <DirectoryRef Id="INSTALLDIR">
            <Component Id="RegistryEntries" Guid="*">
                <RegistryKey Root="HKCU" Key="Software\\{{manufacturer}}\\{{product_name}}">
                    <RegistryValue Name="InstallDir" Type="string" Value="[INSTALLDIR]" KeyPath="yes" />
                </RegistryKey>
            </Component>

            <Component Id="Path" Guid="{{path_component_guid}}" Win64="$(var.Win64)">
                <File Id="Path" Source="..\..\easyeditor.exe" KeyPath="yes" Checksum="yes"/>
                
                <ProgId Id="easyeditor.md" Advertise="yes" Description="Markdown Document">
                    <Extension Id="md" Advertise="yes">
                        <Verb Id="open" Command="Open with easyeditor" Argument="&quot;%1&quot;" />
                    </Extension>
                </ProgId>
                <ProgId Id="easyeditor.markdown" Advertise="yes" Description="Markdown Document">
                    <Extension Id="markdown" Advertise="yes">
                        <Verb Id="open" Command="Open with easyeditor" Argument="&quot;%1&quot;" />
                    </Extension>
                </ProgId>
                <ProgId Id="easyeditor.mdown" Advertise="yes" Description="Markdown Document">
                    <Extension Id="mdown" Advertise="yes">
                        <Verb Id="open" Command="Open with easyeditor" Argument="&quot;%1&quot;" />
                    </Extension>
                </ProgId>
                <ProgId Id="easyeditor.mkd" Advertise="yes" Description="Markdown Document">
                    <Extension Id="mkd" Advertise="yes">
                        <Verb Id="open" Command="Open with easyeditor" Argument="&quot;%1&quot;" />
                    </Extension>
                </ProgId>
                <ProgId Id="easyeditor.mkdn" Advertise="yes" Description="Markdown Document">
                    <Extension Id="mkdn" Advertise="yes">
                        <Verb Id="open" Command="Open with easyeditor" Argument="&quot;%1&quot;" />
                    </Extension>
                </ProgId>
                <ProgId Id="easyeditor.mdwn" Advertise="yes" Description="Markdown Document">
                    <Extension Id="mdwn" Advertise="yes">
                        <Verb Id="open" Command="Open with easyeditor" Argument="&quot;%1&quot;" />
                    </Extension>
                </ProgId>
                <ProgId Id="easyeditor.mdtxt" Advertise="yes" Description="Markdown Document">
                    <Extension Id="mdtxt" Advertise="yes">
                        <Verb Id="open" Command="Open with easyeditor" Argument="&quot;%1&quot;" />
                    </Extension>
                </ProgId>
                <ProgId Id="easyeditor.mdtext" Advertise="yes" Description="Markdown Document">
                    <Extension Id="mdtext" Advertise="yes">
                        <Verb Id="open" Command="Open with easyeditor" Argument="&quot;%1&quot;" />
                    </Extension>
                </ProgId>
                <ProgId Id="easyeditor.txt" Advertise="yes" Description="Markdown Document">
                    <Extension Id="txt" Advertise="yes">
                        <Verb Id="open" Command="Open with easyeditor" Argument="&quot;%1&quot;" />
                    </Extension>
                </ProgId>
                <ProgId Id="easyeditor.sstp" Advertise="yes" Description="EasyEditor Encrypted Document">
                    <Extension Id="sstp" Advertise="yes">
                        <Verb Id="open" Command="Open with easyeditor" Argument="&quot;%1&quot;" />
                    </Extension>
                </ProgId>
            </Component>

            <Component Id="CMP_UninstallShortcut" Guid="*">
                <Shortcut Id="UninstallShortcut"
                          Name="Uninstall {{product_name}}"
                          Description="Uninstalls {{product_name}}"
                          Target="[System64Folder]msiexec.exe"
                          Arguments="/x [ProductCode]" />
                <RemoveFolder Id="INSTALLDIR" On="uninstall" />
                <RegistryValue Root="HKCU" Key="Software\\{{manufacturer}}\\{{product_name}}" Name="Uninstaller Shortcut" Type="integer" Value="1" KeyPath="yes" />
            </Component>
        </DirectoryRef>

        <DirectoryRef Id="ApplicationProgramsFolder">
            <Component Id="ApplicationShortcut" Guid="*">
                <Shortcut Id="ApplicationStartMenuShortcut"
                          Name="{{product_name}}"
                          Description="Runs {{product_name}}"
                          Target="[!Path]"
                          Icon="ProductIcon"
                          WorkingDirectory="INSTALLDIR">
                    <ShortcutProperty Key="System.AppUserModel.ID" Value="{{manufacturer}}.{{product_name}}"/>
                </Shortcut>
                <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>
                <RegistryValue Root="HKCU" Key="Software\\{{manufacturer}}\\{{product_name}}" Name="Start Menu Shortcut" Type="integer" Value="1" KeyPath="yes"/>
            </Component>
        </DirectoryRef>

        <Feature Id="MainProgram" Title="Application" Description="!(loc.InstallAppFeature)" Level="1" ConfigurableDirectory="INSTALLDIR" AllowAdvertise="no" Display="expand" Absent="disallow">

            <ComponentRef Id="RegistryEntries"/>

            <Feature Id="ShortcutsFeature" Title="Shortcuts" Level="1">
                <ComponentRef Id="Path"/>
                <ComponentRef Id="CMP_UninstallShortcut" />
                <ComponentRef Id="ApplicationShortcut" />
                <ComponentRef Id="ApplicationShortcutDesktop" />
            </Feature>

            <Feature Id="Environment" Title="PATH Environment Variable" Description="!(loc.PathEnvVarFeature)" Level="1" Absent="allow">
                <ComponentRef Id="Path"/>
            </Feature>
        </Feature>

        <Feature Id="External" AllowAdvertise="no" Absent="disallow">
        </Feature>


        <InstallExecuteSequence>
            <Custom Action="LaunchApplication" After="InstallFinalize">AUTOLAUNCHAPP AND NOT Installed</Custom>
        </InstallExecuteSequence>

        <SetProperty Id="ARPINSTALLLOCATION" Value="[INSTALLDIR]" After="CostFinalize"/>
    </Product>
</Wix>
