[Desktop Entry]
Type=Application
Name=EasyEditor
GenericName=Markdown Editor
Comment=Simple Markdown editor with preview
Exec=easyeditor %U
Icon=io.github.gcclinux.EasyEditor
Categories=Utility;TextEditor;Development;
MimeType=text/plain;text/markdown;text/html;
X-Purism-FormFactor=Workstation;Mobile;
StartupWMClass=EasyEditor
